html, body{
    width: 650px;
}

body{
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

#page{
    width: 99%;
}

header{
    margin-bottom: 5px;
    background-color:rebeccapurple;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
}

h1{
    color: white;
    font-size: 1.5em;
}

footer{
    background-color:rebeccapurple;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex: 1.5;
}

#main{
    padding: 5px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    flex: 6;
}

#top{
    padding: 10px 0px;
    margin: 5px;
    flex:2;
    border: 2px solid red;
}

nav{
    display:flex;
    flex-direction: column;
    align-items: center;
}

button{
    font-size: 1.5em;
    color: white;
    width: 80%;
    background-color:orange;
    
}

#bottom{
    margin: 0 5px 5px;
    flex:8;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #c9f3ef;
    border: 2px solid green;
}

#sec-img > img{
    height: 80%;
    width: 80%;
}

#sec-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    margin: 10px 10px;
    background-color: white;
    flex: 5;
    border: 2px dotted red;
}

#sec-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 97%;
    margin: 10px 10px 10px 10px;
    flex: 3;
    background-color:beige;
    border: 2px dotted blue;
}

#heading{
    font-size: 2em;
    flex: 1;
}

#text{

    font-size: 1.25em;
    flex: 2;
}

h3{
    color: white;
}

/* when the width is 650px or less, 
. all text in paragraphs should be 0.8em
. the header text size is 1.5em
. the three buttons in the section top laid as a column, centered and with no gap
. the width of the buttons is 70% of its parent
. the image and its descriptive text in the section bottom are laid as a column */