            
/* The following CSS  styles for *, html and body are given.
 Do not remove them! */
*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
    
    html, body {width:100%; height:100%;}

    body{
        display: flex;
        align-items: center;
        border: 2px solid red;
    }

    /* ------------------------------------------ */

/* proportions, relative sizes, backgrounds, colors and borders of diffrenet sections are specified below.
You need to decide and add the necessary  CSS flex properties  layout */

/* the section page has a width of 80% (of its parent) */
#page{
    width: 99%;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    height: 98%;
}

    /* sections header, footer and main occupy 1.5, 1.5 and 6/9 respectively.
        . header, footer have background: rebeccapurple
        . the section  main has border:2px solid blue;
    It occupies  6/9 while header/footer occupies the remaining space, 1.5 /9 each */
header{
    margin-bottom: 5px;
    background-color:rebeccapurple;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
}

h1{
    color: white;
    font-size: 2.5em;
}

footer{
    margin-top: 5px;
    background-color:rebeccapurple;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex: 1.5;
}

#main{
    border: 2px solid blue;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 6;
}

    /* sections top and bottom occupy 2/10 and 8/10 respectively
        . the section top has border: 2px solid red
        . button has  background: orange
        . button when hover has background: darkorange
        . the section  bottom has  background: #c9f3ef and border: 2px solid green; */

#top{
    flex:2;
    border: 2px solid red;
    padding: 0px 3px;
}

#bottom{
    flex:8;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #c9f3ef;
    border: 2px solid green;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

button{
    color: white;
    font-size: 2.5em;
    height: 80%;
    flex: 32% 0 2;
    background-color:orange;

}

button:hover{
    background-color:darkorange;
} 

/* sections sec-img and sec-text occupy 4/9 and 5/9 respectively
        . the image inside sec-img has a width of 80%
        . the  section sec-img has border:2px dotted red; 
        . the section sec-text has a background: beige and a border: 2px dotted blue */

#sec-img > img{
    height: 80%;
    width: 80%;
}

#sec-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin: 0px 10px;
    background-color: white;
    flex:4;
    border: 2px dotted red;
}

#sec-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95%;
    margin: 0px 10px 0px 0px;
    flex:5;
    background-color:beige;
    border: 2px dotted blue;
}

#heading{
    font-size: 2em;
    padding-top: 70px;
    flex: 1;
}

#text{
    font-size: 1.25em;
    flex: 2;
}

h3{
    color: white;
}